
{% extends 'base.html' %}
{% block title %}Sahibini bul{% endblock %}

    {% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Trafiği alt-üst eden aracı hemen BUL!</h1>
        <form action="/search/" class="form-inline">
            <div class="form-group mx-sm-0  col-sm-12 text-center ">
                <input type="text" class="form-control" id="inputPassword2" placeholder="35AG5478" name="q">
                <button type="submit" class="btn btn-primary ml-3 ">Plakayı sorgula</button>
            </div>

        </form>
    </div>
</section>

    {% endblock %}

